spring:
  application:
    name: spring-aix
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/ai_chat
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 60000
      connection-timeout: 30000
      max-lifetime: 1800000
      pool-name: HikariPool-1
  jpa:
    open-in-view: false
    show_sql: true
    hibernate:
      ddl-auto: update
  elasticsearch:
    uris: http://127.0.0.1:9200
    username:
    password:
  ai:
    chat:
      memory:
        repository:
          jdbc:
            initialize-schema: always
    ollama:
      base-url: http://127.0.0.1:11434
      chat:
        options:
          model: deepseek-r1
      embedding:
        options:
          model: nomic-embed-text
    vectorstore:
      elasticsearch:
        initialize-schema: true
        index-name: knowledge_base
        dimensions: 768
        similarity: cosine

logging:
  level:
    '[org.springframework.ai.chat]': DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
